* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* top menu starts */
.top-menu {
  background-color: #ff4800;
  width: 100%;
  height: 100%;
  /* display: inline-block; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.contact-section p,
.contact-section a {
  display: inline;
  margin: 10px;
  color: aliceblue;
}
.contact-section {
  padding: 15px;
}

.btn button {
  padding: 15px;
  background-color: black;
  color: aliceblue;
  font-size: 15px;
}
/* top menu ends */

/* main menu starts */
.main-menu {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  /* position: sticky; */
  top: 0;
}
.main-menu .logo {
  width: 35%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu .menus {
  width: 65%;
  height: 100%;
  float: left;
  /* background-color: aqua; */
  padding-left: 260px;
  padding-top: 50px;
}

.menus ul li {
  display: inline-block;
  margin-left: 30px;
}
.menus ul li a {
  color: black;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: 0.5s ease;
}

.menus ul li a:hover {
  color: #ff4800;
}
/* main menu ends */

/* page1 image starts */
.page1 {
  width: 100%;
  height: 90vh;
  background-image: url("images/new-bg.jpg");
  background-size: cover;
}
.page1-content {
  width: 45%;
  /* background-color: aqua; */
  height: 500px;
  color: aliceblue;
  margin-left: 160px;
  padding-top: 100px;
}
.page1-content h1 {
  font-size: 110px;
}
.page1-content h2 {
  font-size: 50px;
  margin-bottom: 25px;
}

.page1-content p {
  font-size: 20px;
  line-height: 1.7em;
}

.page1-content button {
  height: 50px;
  width: 160px;
  border-radius: 20px;
  margin-top: 25px;
  margin-left: 5px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ff4800;
  font-size: 15px;
  font-weight: 600;
}

/* page1 image ends */

/* page2 css starts */
.page2 {
  height: 76vh;
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2 .page2-box {
  height: 322.52px;
  width: 350px;
  background-color: #ecf2f5;
  margin: 15px;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.page2-box p {
  padding: 12px 45px 30px 45px;
  line-height: 1.7em;
  text-align: center;
  font-size: 17px;
}
.page2-box h1 {
  margin-top: 20px;
  /* color: #ffffff; */
}
.page2-box img {
  margin-top: 35px;
  color: black;
}

.cbox:hover {
  background-color: #ff4800;
  color: #ffffff;
}
/* page2 css ends */

/* page3 css starts */
.page3 {
  height: 87.5vh;
  width: 100%;
  background-image: url(images/new-bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3 .page3-content {
  height: 384.09px;
  width: 540px;
  /* background-color: aqua; */
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.page3 .page3-img {
  height: 384.09px;
  width: 540px;
  background-color: #ffffff;
  margin: 15px;
}
.page3-content button {
  height: 50px;
  width: 160px;
  border-radius: 20px;
  margin-top: 55px;
  background-color: #ff4800;
  color: #ffffff;
  border: 1px solid #ff4800;
  font-size: 15px;
  font-weight: 600;
}
.page3-content h1 {
  font-size: 40px;
  margin-bottom: 60px;
}

.page3 .page3-content p {
  line-height: 1.7em;
  font-size: 17.5px;
  color: #b7b7b7;
  font-weight: 400;
}
/* page3 css ends */

/* Page4 css starts*/

.page4 {
  /* background-color: ; */
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.page4 .box {
  height: 90vh;
  width: 40%;
  /* background-color: aquamarine; */
  margin-top: 50px;
}

.page4 .box1 {
  padding-left: 20px;
}

.box h1 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 35px;
}

/* box1 css starts */

.page4 .box1 {
  margin-right: 20px;
}

.box1 .box-con {
  width: 100%;
  height: 150px;
  margin-bottom: 35px;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: row;
}

.box-con img {
  height: 100%;
}

.box-text {
  padding-left: 40px;
}

.box-text h4 {
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
}

.box-text .date {
  font-size: 11px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.box-text p {
  font-size: 14px;
  color: grey;
  margin-top: 10px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.box-text .read {
  text-decoration: none;
  font-size: 14px;
  color: #ff4800;
}

/* box1 css ends */

.box2 .box-sec {
  width: 100%;
  height: 80%;
  background-color: #edf3f5;
  margin-top: 65px;
}

.box-sec .box-in-sec {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 35px;
}

.dnt {
  height: 50px;
  width: 170px;
  margin-top: 50px;
  border-radius: 20px;
  color: #ffffff;
  border: 1px solid #ff4800;
  background-color: #ff4800;
  font-size: 15px;
  font-weight: 600;
}

.box-sec .line {
  width: 400px;
  margin-top: 65px;
  margin-left: 25px;
  /* height: 4px; */
  border: 3px solid #ff4800;
  border-radius: 15px;
  position: absolute;
}
.box-sec .gol {
  width: 45px;
  height: 45px;
  background-color: #ff4800;
  border-radius: 50%;
  position: relative;
  top: 45px;
  left: 400px;
  display: flex;
  justify-content: center;
  color: #ecf2f5;
  align-items: center;
}

.box-sec .box-price {
  margin-top: 55px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: grey;
}

.page5 {
  width: 100%;
  height: 120vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.63),
      rgba(255, 255, 255, 0.635)
    ),
    /* Whitish tint */ url("images/page5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  padding-left: 140px;
  padding-top: 100px;
}

.page5 h1 {
  font-size: 35px;
  font-weight: 600;
}

.page5 .line {
  width: 75px;
  border: 2.3px solid #ff4800;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-con-page5 {
  width: 91%;
  height: 600px;
  /* background-color: #ff4800; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.box-con-page5 .boxes {
  height: 500px;
  width: 350px;
  background-color: #edf3f5;
}

.boxes img {
  width: 100%;
}

.boxes h4{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
}

.boxes p{
  margin-top: 30px;
  margin-left: 20px;
  line-height: 1.6em;
  font-size: 15px;
  margin-right: 20px;
}

.boxes .line1{
  margin-top: 30px;
  margin-left: 20px;
  width: 215px;
  border: 2.3px solid #ff4800;
  border-radius: 25px;
  position: absolute;
}

.boxes .circle1{
  height: 45px;
  width: 45px;
  background-color: #ff4800;
  position: relative;
  top: 10px;
  left: 200px;
  border-radius: 50%;

  color: #ecf2f5;

}
